@import 'src/styles/constants';
@import 'src/styles/mixins';

.chip {
  padding: toRem(2) toRem(8);
  width: fit-content;
  @include flexStyling(center, center, toRem(4));
  @include typography($roboto-regular, 500, toRem(14), 145%, toRem(0.5));
  color: $blue-grey-1000;
  background-color: $white;
}

.rounded {
  border-radius: toRem(4);
}

.circular {
  border-radius: toRem(20);
}

.filled {
  background: $blue-10;
  border: toRem(1) solid $blue-10;
}

.outlined {
  border: toRem(1) solid $grey;
}

.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.active {
  background: $blue-150;
}

.removeIcon {
  cursor: pointer;
  width: toRem(12);
  height: toRem(12);
}
